header{
    background-color: black;
}

header nav li{
    font-size: 22px;
    display:inline-block;
    padding: 20px;
    color:white;
}

header nav li:hover{
    background-color: white;
    color:black;
}

header nav a{
    text-decoration:none;
    color:inherit;
}


.banner{
    background-image: url(img/banner.jpg);
    padding:400px 50px;
    position:relative;
    z-index: 1;
    color:white;
    background-attachment: fixed;
   
}

.banner::after{
    content:"";
    position:absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity:0.55;
    z-index: -1;
    
}

.banner a{
    background-color: #072083;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color:white;
}

.banner a:hover{
    background-color:#F85B1A;
    opacity: 0.8;
}


main img {

    display:block;
    margin: 0 auto;
    

}
